body {
	padding: 0;margin: 0;
	font-family: sans-serif;	
	color: white;	
}	
#box, #box2 {
	background: #00d6bd;		
	position: relative;
	width: 100%; 
	height: 50%;
}
#box2 {
	background: #d6004f;
}	
#box span, #box2 span {
	display: block;
	position: absolute;
	font-size: 26px; 
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -13px;
}
#listeners {
	position: absolute;
	background: black;
	padding: 5px 10px;
	top: 50%;
	height: 20px;
	margin-top: -15px;
	left: 0;
}
